<div>
    <app-form (addQuote)="addQuote($event)"></app-form>
</div>
<div>
    <ul ng-repeat="quote in quotes">
        <li *ngFor="let quote of quotes">
            {{quote.quote}}
        <app-quote-description [quote]='quote'></app-quote-description>
        
        <div class="row">
            <div class="col-5">
                <button type="button" class="btn btn-info" (click)="removeItem(quote)">Delete quote</button>
            </div>

            <div class="col-5">
                <app-votes></app-votes>
            </div>
            
        </div>
        </li>
    </ul>
</div>


