<div>
    <app-form (addQuote)="addQuote($event)"></app-form>
</div>
<div>
    <ul ng-repeat="quote in quotes">
        <li *ngFor="let quote of quotes">

            <div class="quote text-center bg-light">
                <p>
                    <span>"</span> {{quote.quote}} <span>"</span>
                </p>
            </div>

            <hr>

            <div class="description">
                <app-quote-description [quote]='quote'></app-quote-description>
            </div>

            <div class="del-button">
                <button type="button" class="btn btn-info" (click)="removeItem(quote)">Delete quote</button>
            </div>
        </li>
    </ul>
</div>


